<meta charset="utf-8">
<title>Holy Cross School</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">

<script>
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</script>
<script src="https://bootstrapthemes.co/wp-content/plugins/fbar/js/custom.js">
</script>

<link rel="shortcut icon" href="https://bootstrapthemes.co/wp-content/uploads/2017/01/12">

<link rel="stylesheet" type="text/css" href="css/main.css"/>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:900i&display=swap" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">

<script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}
</script>
<script>
function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>
<script>
$('.carousel').carousel({
  interval: 5000
})
</script>


<script>
$('#myCarousel').on('slide.bs.carousel', function () {
   transition: transform 2s ease, opacity .5s ease-out
})
</script>