	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<a class="navbar-brand" href="/"> <img src="images/logo.png" alt="CSGO Howl"> 
			<p class="name1">Holy Cross School</p>
		</a>
		<a class="subTopic" href="#">About Us</a>
    	<a class="subTopic" href="#">Services</a>
    	<a class="subTopic" href="#">Faculty & Staffs</a>
		<a class="subTopic" href="#">Achievements</a>
		<a class="subTopic" href="#">Photo Gallery</a>
    	<a class="subTopic" href="#">Contact Us</a>
		
		<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a href="#">About Us</a>
    <a href="#">Services</a>
    <a href="#">Faculty & Staffs</a>
	<a href="#">Achievements</a>
	<a href="#">Photo Gallery</a>
    <a href="#">Contact Us</a>
  </div>

</div>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria- controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon" onclick="openNav()"></span>
	  </button>
</nav>
